<div class="container text-center">
  <div class="col-sm-3">
    <div class="panel mini-box">
      <span class="btn-icon btn-icon-round btn-icon-md bg-primary">
        <span class="fa fa-paper-plane-o"></span>
      </span>
      <div class="box-info">
        <p class="size-h2">{{campaigns.sent}}</p>
        <p class="text-muted">Messages<br/>Sent</p>
      </div>
    </div>
  </div>

   <div class="col-sm-3">
    <div class="panel mini-box">
      <span class="btn-icon btn-icon-round btn-icon-md bg-success">
        <span class="fa fa-check-square-o"></span>
      </span>
      <div class="box-info">
        <p class="size-h2">{{campaigns.opened}}</p>
        <p class="text-muted">Messages<br/>Opened</p>
      </div>
    </div>
  </div>

   <div class="col-sm-3">
    <div class="panel mini-box">
      <span class="btn-icon btn-icon-round btn-icon-md bg-danger">
        <span class="fa fa-external-link"></span>
      </span>
      <div class="box-info">
        <p class="size-h2">{{campaigns.clicked}}</p>
        <p class="text-muted">Links<br/>Clicked</p>
      </div>
    </div>
  </div>
</div>

<div ui-view="templates"></div>