<div class="container">

  <section class="panel panel-default">
    <div class="panel-heading">
      <strong><span class="fa fa-signal"></span> Templates Success</strong>
      <span class="refresh pull-right" ng-click="refresh()"><i class="fa fa-refresh fa-btn" ng-class="{'fa-spin':refreshing}"></i></span>
    </div>
    <div class="panel-body">
      <table class="table table-bordered table-striped table-responsive-rows sortable">
        <thead class="cf">
          <tr>
            <th ng-repeat="th in head" ng-click="changeSorting(th.column)" ng-class="{'sort-true': 'sort-desc', 'sort-false': 'sort-asc'}[selectedCls(th.column)]">{{th.head}}</th>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in campaigns.template_stats | orderBy:sort.column:sort.descending">
          <td name="Template">{{item.template}}</td>
          <td >{{item.subject}}</td>
          <td name="Sent" class="numeric">{{item.sent}}</td>
          <td name="Opens" class="numeric">{{item.opened}}</td>
          <td name="Clicks" class="numeric">{{item.clicked}}</td>
          <td name="Updated" class="date">{{item.updated | moment:'timeago'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

</div>