<div class="container text-center">

  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Messages Sent</h3>
      </div>
      <div class="panel-body text-center" style="height: 220px;">
        <div class="panel mini-box">
          <span class="btn-icon btn-icon-round btn-icon-lg bg-primary">
            <span class="fa fa-paper-plane-o"></span>
          </span>
          <div class="box-info">
            <p class="size-h1">{{messages.sent}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Messages Opened ({{messages.opened}})</h3>
      </div>
      <div class="panel-body text-center">
        <div easypiechart options="opens.options" percent="opens.percent" class="easypiechart">
          <span class="pie-percent" ng-bind="opens.percent"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Links Clicked ({{messages.clicked}})</h3>
      </div>
      <div class="panel-body text-center">
        <div easypiechart options="clicks.options" percent="clicks.percent" class="easypiechart">
          <span class="pie-percent" ng-bind="clicks.percent"></span>
        </div>
      </div>
    </div>
  </div>
</div>

<div ui-view="templates"></div>