<div class="container">
  <div class="row">
    <div class="col-md-12 overflow-hidden">
      <section class="panel panel-default">
        <div class="panel-heading">
          <strong><span class="fa fa-signal"></span> Templates Success</strong>
          <span style="padding-left: 30px">
            <a class="btn-icon btn-icon-round btn-info compose pointer" title="New Template" ng-click="view('New Template')">
              <i class="fa fa-plus"></i>
            </a>
          </span>
          <span class="refresh pull-right" ng-click="refresh()"><i class="fa fa-refresh fa-btn" ng-class="{'fa-spin':refreshing}"></i></span>
        </div>
        <div class="panel-body">
          <table class="table table-bordered">
            <thead class="cf">
              <tr>
                <th ng-repeat="th in head">{{th.head}}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat-start="template in messages.template_stats" ng-click="view(template.name)" class="alert-info pointer">
                <td>{{template.name}}</td>
                <td>{{template.stats[0]}}</td>
                <td>{{template.stats[1]}}</td>
                <td>{{template.stats[2]}}</td>
                <td></td>
              </tr>

              <tr ng-repeat="message in template.messages">
                <td >{{message.subject}}</td>
                <td name="Sent" class="numeric">{{message.sent}}</td>
                <td name="Opens" class="numeric">{{message.opened}}</td>
                <td name="Clicks" class="numeric">{{message.clicked}}</td>
                <td name="Updated" class="date">{{message.updated | moment:'timeago'}}</td>
              </tr>
              <tr ng-repeat-end></tr>
            </tbody>
          </table>
        </div>
      </section>

      <section class="panel panel-default panel-overlay" ng-class="{'open': !!show_message}">
        <div class="panel-heading">
          <span ng-hide="!!template._id">
            <input type="text" class="form-control" ng-model="template.name" style="max-width: 300px;" >
          </span>
          <span ng-show="!!template._id">
            <strong>{{template.name}}</strong>
          </span>
          <span class="pull-right pointer" ng-click="close()"><i class="fa fa-times close"></i></span>
        </div>
        <div><small>updated: {{template.updated_at | moment:'timeago'}}</small></div>
        <div class="panel-body layout-single-column">
          <div class="template-actions">
            <div class="btn btn-sm btn-success" ng-click="update()" ng-disabled="templateForm.$pristine">Update</div>
            <div class="btn btn-sm btn-default" ng-click="close()">Discard</div>
          </div>
          <form name="templateForm" class="form-horizontal margin-top-30">
            <div class="form-group">
              <div class="col-xs-10">
                Subject:
                <input type="text" class="form-control" ng-model="template.subject">
                <strong>Be sure to <a href="http://www.aminstitute.com/cgi-bin/headline.cgi" target="_blank">test your subject</a></strong>
              </div>
            </div>
            <div class="body">
              <p>Hi Mr. Customer,</p>
              <textarea class="form-control" rows="15" ng-model="template.body"></textarea>
              <p>Regards,</p>
              {{me.name}}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>