<section class="panel panel-default map-panel center-block gmail">
	<div class="panel-body">
		<div class="row">
      <div class="page page-activity">
        <div class="row">
          <div class="col-md-12 overflow-hidden">
            <section class="activity-container">
              <div ui-view="gmail.list"></div>
              <div ui-view="gmail.compose"></div>
              <div ui-view="gmail.message"></div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>