<section class="panel panel-default map-panel center-block">
	<div class="panel-body">
		<div class="row">
			<div class="page page-activity">
				<div class="row">
					<div class="col-md-12">
						<section class="activity-container">
							<ul class="activity-list list-unstyled">
								<li ng-repeat="item in messages" >
									<div class="activity-date">{{item.date | moment:'timeago'}}</div>
									<div class="view">
										<span ng-show="hasLabel(item,'IMPORTANT')"><i class="fa fa-star"></i></span>
										<p class="snippet" ng-bind-html="item.snippet" ng-class="{true:'strong', false:''}[hasLabel(item,'UNREAD')]"></p>
									</div>
								</li>
							</ul>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>