<div class="container">
  <section class="panel panel-default center-block users-report">
    <div class="panel-heading text-left">
      <strong><i class="fa fa-user fa-lg"></i> Users Report</strong>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-3">
          <form class="form-search">
            <input type="text" class="form-control" placeholder="Search" ng-model="query" />
          </form>
        </div>
        <div class="col-sm-3">
          <h4>
            <a>{{(users | filter:query).length}} users</a>
          </h4>
        </div>
      </div>
      <div class="row">
        <table class="table table-hover table-responsive-rows sortable user-table">
          <thead>
            <tr>
              <th class="row-name" ng-click="changeSorting('name')" ng-class="{'sort-true': 'sort-desc', 'sort-false': 'sort-asc'}[selectedCls('name')]">User</th>
              <th class="row-name" ng-click="changeSorting('lead.segment')" ng-class="{'sort-true': 'sort-desc', 'sort-false': 'sort-asc'}[selectedCls('lead.segment')]">Segment</th>
              <th class="row-name" ng-click="changeSorting('visits')" ng-class="{'sort-true': 'sort-desc', 'sort-false': 'sort-asc'}[selectedCls('visits')]">Visits</th>
              <th class="row-name" ng-click="changeSorting('updated_at')" ng-class="{'sort-true': 'sort-desc', 'sort-false': 'sort-asc'}[selectedCls('updated_at')]">Last Visit</th>
              <th class="row-name" ng-click="changeSorting('created_at')" ng-class="{'sort-true': 'sort-desc', 'sort-false': 'sort-asc'}[selectedCls('created_at')]">Joined</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in users | filter:query | orderBy:sort.column:sort.descending" ng-click="$state.go('profile', {id: user.id})">
              <td name="Name">{{user.name}} 
                <br />
                <a ng-href="{{user.company['website']}}">{{user.company['name']}}</a>
              </td>
              <td name="Segment" >{{user.lead.segment}}</td>
              <td name="Visits" >{{user.visits}}</td>
              <td name="Last Visit" >{{user.updated_at | moment:dateformat}}</td>
              <td name="Joined" >{{user.created_at | moment:dateformat}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>