<div class="container">
  <section class="panel panel-default center-block users-report">
    <div class="panel-heading text-left">
      <strong><i class="fa fa-user fa-lg"></i> Users Report</strong>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">
          <form class="form-inline" role="form">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search" ng-model="query" />
            </div>
          </form>
        </div>
      </div>
      <div class="col-sm-3">
        <h4>
          <a>{{(users | filter:query).length}} users</a>
        </h4>
      </div>
      <div class="row">
        <table class="table table-hover table-responsive-rows sortable user-table">
          <thead>
            <tr>
              <th class="row-name" ng-click="changeSorting('name')" ng-class="{'sort-true': 'sort-desc', 'sort-false': 'sort-asc'}[selectedCls('name')]">User</th>
              <th class="row-name" ng-click="changeSorting('lead.segment')" ng-class="{'sort-true': 'sort-desc', 'sort-false': 'sort-asc'}[selectedCls('lead.segment')]">Segment</th>
              <th class="row-name" ng-click="changeSorting('visits')" ng-class="{'sort-true': 'sort-desc', 'sort-false': 'sort-asc'}[selectedCls('visits')]">Visits</th>
              <th class="row-name" ng-click="changeSorting('updated_at')" ng-class="{'sort-true': 'sort-desc', 'sort-false': 'sort-asc'}[selectedCls('updated_at')]">Last Visit</th>
              <th class="row-name" ng-click="changeSorting('created_at')" ng-class="{'sort-true': 'sort-desc', 'sort-false': 'sort-asc'}[selectedCls('created_at')]">Joined</th>
              <th class="row-name">
                <span ng-click="changeSorting('stats.tasks')" ng-class="{'sort-true': 'sort-desc', 'sort-false': 'sort-asc'}[selectedCls('stats.tasks')]">Projects</span>/
                <span ng-click="changeSorting('stats.bids')" ng-class="{'sort-true': 'sort-desc', 'sort-false': 'sort-asc'}[selectedCls('stats.bids')]">Bids</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in users | filter:query | orderBy:sort.column:sort.descending" ng-click="$state.go('profile', {id: user.id, db: db})">
              <td name="Name">{{user.name}}
                <br />
                <a ng-href="{{user.company['website']}}">{{user.company['name']}}</a>
              </td>
              <td name="Segment" >{{user.lead.segment}}</td>
              <td name="Visits" >{{user.visits}}</td>
              <td name="Last Visit" >{{user.updated_at | moment:dateformat}}</td>
              <td name="Joined" >{{user.created_at | moment:dateformat}}</td>
              <td name="Projects/Bids" >
                <span ng-show="user.stats.tasks || user.stats.bids">{{user.stats.tasks || 0}}/{{user.stats.bids || 0}}</span>
                <span ng-hide="user.stats.tasks || user.stats.bids"> - </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>