<div class="page page-profile">

  <header class="profile-header row">
    <div class="col-sm-7">
      <div ng-show="!!user.s3_img_url || !!user.info.urls.public_profile" class="profile-img col-sm-3">
        <img alt="" ng-src="{{user.s3_img_url}}" class="img-circle">
        <div ng-show="!!user.info.urls.public_profile" class="profile-social pull-right">
          <a ng-href="{{user.info.urls.public_profile}}" target="_blank" class="btn-icon btn-icon-round btn-linkedin">
            <i class="fa fa-linkedin"></i>
          </a>
        </div>
      </div>
      <div class="col-sm-8 profile-userdata">
        <h1 class="text-thin" style="margin-top:0;">{{user.name}}</h1>
        <h4>{{user.info.headline}}</h4>
        <p>{{user.email}} <span class="user-mailto"><a ng-href="mailto:{{user.email}}" target="_blank"><i class="fa fa-envelope-o"></i><a/></span></p>
        <div class="profile-company media" ng-show="user.company">
          <img ng-src="{{user.company.logo_url}}" class="company-logo-small media-object pull-left">
          <div class="media-body">
            <h5>{{user.company.name}}</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="ui-map-small hidden-xs" ui-jvectormap options="worldMap" markers="markers"></div>
      <span>{{address}}</span>
    </div>
    <div class="profile-info">
      <ul class="list-unstyled list-inline">
        <li>
          <span class="ui-select">
            <select ng-model="lead.segment" ng-change="updateLead()" style="width:150px;">
              <option value="" disabled selected>-- Lead Status --</option>
              <option ng-repeat="item in segments" value="{{item}}">{{item}}</option>
            </select>
          </span>
          <!-- <i class="fa fa-angle-down overlap-left"></i> -->
        </li>
        <li><span class="label label-primary">Role: {{user.role}}</span></li>
        <li><span class="label label-default">Visits: {{user.visits}}</span></li>
        <li><span class="label label-info">Last Visit: {{user.last_visit |  moment:'timeago'}}</span</li>
      </ul>
    </div>
  </header>
  <div class="container">
    <div class="col-md-6 viewport-full" ui-view="notes"></div>

    <div class="col-md-6 viewport-full">
      <tabset>
        <tab class="pointer">
          <tab-heading>
          <i class="fa fa-envelope"></i> Gmail
          </tab-heading>
          <div ui-view="gmail"></div>
        </tab>
        <tab class="pointer">
          <tab-heading>
          <i class="fa fa-rocket"></i> Activity
          </tab-heading>
          <div ui-view="activity"></div>
        </tab>
      </tabset>
    </div>

  </div>
</div>