<div class="page page-profile">

  <header class="profile-header row" style="margin-right:0;">
    <div class="col-sm-7">
      <div ng-show="!!user.s3_img_url || !!user.info.urls.public_profile" class="profile-img col-sm-3">
        <img alt="" ng-src="{{user.s3_img_url}}" class="img-circle">
        <div ng-show="!!user.info.urls.public_profile" class="profile-social pull-right">
          <a ng-href="{{user.info.urls.public_profile}}" target="_blank" class="btn-icon btn-icon-round btn-linkedin">
            <i class="fa fa-linkedin"></i>
          </a>
        </div>
      </div>
      <div class="col-sm-8 profile-userdata">
        <h1 class="text-thin" style="margin-top:0;">{{user.name || lead.info.name}}</h1>
        <h4 ng-show="user.info.headline">{{user.info.headline}}</h4>
        <span ng-show="!user.info.headline">
          <h5><a class="link-light" ng-click="edit_title=!edit_title" ng-show="!edit_title">{{lead.info.title || 'title?'}}</a></h5>
          <form class="animate-slide-in-left" ng-submit="edit_title=!edit_title" ng-show="!!edit_title">
            <input ng-model="title" type="text" placeholder="Title" class="form-control inline-input" >
            <i class="fa fa-times cancel" ng-click="cancel()"></i>
          </form>
        </span>
        <p>{{user.info.email || user.email || lead.uid}} <span class="user-mailto"><a ng-href="mailto:{{user.email || lead.uid}}" target="_blank"><i class="fa fa-envelope-o"></i><a/></span></p>
        <p ng-show="lead.info.phone && !edit_phone">
          <a class="link-light" ng-click="edit_phone=!edit_phone">{{lead.info.phone}}</a> <span class="user-phone"><a ng-href="tel:{{lead.info.phone}}"><i class="fa fa-phone"></i><a/></span></p>
          <p ng-show="!!edit_phone || !lead.info.phone">
            <a href="javascript:;" class="btn-icon-lined btn-icon-round btn-icon-sm" ng-class="{true:'btn-success',false:'btn-transparent-light'}[!!edit_phone]" ng-click="edit_phone=!edit_phone;">
              <span class="fa fa-phone"></span>
            </a>
            <input ng-model="phone" type="tel" placeholder="(800) 555-1234" class="form-control animate-slide-in-left inline-input" ng-show="!!edit_phone">
          </p>
          <div class="profile-company media">
            <img ng-src="{{user.company.logo_url}}" class="company-logo-small media-object pull-left">
            <div class="media-body">
              <h5 ng-show="user.company.name">{{user.company.name}}</h5>
              <span ng-show="!user.company.name">
                <h5><a ng-click="edit_company=!edit_company" ng-show="!edit_company">{{lead.info.company || 'Edit Company'}}</a></h5>
                <form class="animate-slide-in-left" ng-submit="edit_company=!edit_company" ng-show="!!edit_company">
                  <input ng-model="company" type="text" placeholder="Company Name" class="form-control inline-input" >
                  <i class="fa fa-times cancel" ng-click="cancel()"></i>
                </form>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="ui-map-small hidden-xs" ui-jvectormap options="worldMap" markers="markers"></div>
        <span>{{address}}</span>
      </div>
      <div class="profile-info">
        <ul class="list-unstyled list-inline">
          <li>
            <span class="ui-select">
              <select ng-model="lead.segment" ng-change="updateLead()" style="width:150px;">
                <option value="" disabled selected>-- Lead Status --</option>
                <option ng-repeat="item in segments" value="{{item}}">{{item}}</option>
              </select>
            </span>
          </li>
          <li><span class="label label-primary">Roles: {{user.roles.join(",")}}</span></li>
          <li><span class="label label-danger">Site: {{user.site}}</span></li>
          <li><span class="label label-default">Visits: {{user.visits}}</span></li>
          <li><span class="label label-info">Last Visit: {{user.last_visit |  moment:'timeago'}}</span</li>
        </ul>
      </div>
    </header>
    <div class="container">
      <div class="col-md-6" ui-view="notes"></div>

      <div class="col-md-6">
        <tabset>
          <tab class="pointer">
            <tab-heading>
            <i class="fa fa-envelope"></i> Gmail
          </tab-heading>
          <div ui-view="gmail"></div>
        </tab>
        <tab class="pointer">
          <tab-heading ng-controller="ActivityCtrl">
          <i class="fa fa-rocket"></i> Activity <span class="badge badge-danger" ng-show="!!activities.length">{{activities.length}}</span>
        </tab-heading>
        <div ui-view="activity"></div>
      </tab>
    </tabset>
  </div>

</div>
</div>