<div class="page page-profile">

  <header class="profile-header">
    <div class="col-sm-7">
      <div ng-show="user.s3_img_url" class="profile-img col-sm-3">
        <img alt="" ng-src="{{user.s3_img_url}}" class="img-circle">
      </div>
      <div class="col-sm-8 profile-userdata">
        <h1 class="text-thin" style="margin-top:0;">{{user.name}}</h1>
        <h4>{{user.info.headline}}</h4>
        <p>{{user.email}}</p>
        <div class="profile-company media" ng-show="user.company">
          <img ng-src="{{user.company.logo_url}}" class="company-logo-small media-object pull-left">
          <div class="media-body">
            <h5>{{user.company.name}}</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="ui-map-small" ui-jvectormap options="worldMap" markers="markers"></div>
      <span>{{address}}</span>
    </div>
    <div class="profile-info">
      <ul class="list-unstyled list-inline">
        <li>
          <span class="ui-select">
            <select ng-model="lead.status" ng-change="updateLead()" style="width:150px;">
              <option value="" disabled selected>-- Lead Status --</option>
              <option ng-repeat="item in lead_options" value="{{item}}">{{item}}</option>
            </select>
          </span>
          <!-- <i class="fa fa-angle-down overlap-left"></i> -->
        </li>
        <li><span class="label label-primary">Role: {{user.role}}</span></li>
        <li><span class="label label-default">Visits: {{user.visits}}</span></li>
        <li><span class="label label-info">Last Visit: {{user.last_visit |  moment:'timeago'}}</span</li>
      </ul>
    </div>
  </header>
  <div class="container">
    <div class="col-md-6" ui-view="notes"></div>
    <div class="col-md-6" ui-view="activity"></div>
  </div>
</div>