<div class="container text-center">
  <div class="col-sm-3">
    <div class="panel mini-box">
      <span class="btn-icon btn-icon-round btn-icon-md bg-primary">
        <span class="fa fa-rocket"></span>
      </span>
      <div class="box-info">
        <p class="size-h2">{{stats['Open'] + stats['Invitation']}}</p>
        <p class="text-muted">Open <br/>Projects</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="panel mini-box">
      <span class="btn-icon btn-icon-round btn-icon-md bg-info">
        <span class="fa fa-thumbs-o-up"></span>
      </span>
      <div class="box-info">
        <p class="size-h2">{{stats['Accepted Bid']}}</p>
        <p class="text-muted">Accepted <br/>Bids</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="panel mini-box">
      <span class="btn-icon btn-icon-round btn-icon-md bg-success">
        <span class="fa fa-flag-checkered"></span>
      </span>
      <div class="box-info">
        <p class="size-h2">{{stats['Complete']}}</p>
        <p class="text-muted">Completed <br/>Projects</p>
      </div>
    </div>
  </div>
    <div class="col-sm-3">
    <div class="panel mini-box">
      <span class="btn-icon btn-icon-round btn-icon-md bg-warning">
        <span class="fa fa-minus-square"></span>
      </span>
      <div class="box-info">
        <p class="size-h2">{{stats['Closed']}}</p>
        <p class="text-muted">Closed <br/>Projects</p>
      </div>
    </div>
  </div>
</div>