<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
	<div class="container">
		<div class="text-primary">
			<h2><%= @site_label %></h2>
		</div>
		<%= render 'projects' %>
		<%= render 'new_users' %>
	</div>
</body>