.page-profile {

  .profile-header {
    position: relative;
    margin: 0 -15px 15px;
    padding: 20px 30px 90px;
    background: url('hero-blue.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    color: $bright;
    h3, h4 { color: $gray-lighter; }
    p { font-size: 1.2em; }
    a.link-light {
      color: $bright;
    }
    a { cursor: pointer; }
    .ui-map-small { margin-top: -10px; }
  }

  .profile-userdata {
    input.inline-input {
      max-width: 220px;
      display: inline-block;
      margin-left: 10px
    }
  }

  .profile-img {
    display: inline-block;
    margin-top: 3em;
    margin-right: 20px;
    img {
      max-width: 120px;
      height: auto;
      box-shadow: 0 0 0 5px rgba(255,255,255,.5), 0 0 10px rgba(0,0,0,.2);
    }
  }

  .user-mailto > a, .user-phone > a {
    color: #fff;
    .fa:hover {
      cursor: pointer;
      color: $bright;
      @include transform(scale(1.3));
    }
  }

  .profile-social {
    display: inline-block;
    > a {
      margin-right: 15px;
      box-shadow: 0 0 5px rgba(0,0,0,.2);
    }
  }

  .profile-info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.3);
    line-height: 20px;
    padding: 10px 30px;
    color: $bright;
    ul {
      margin: 0;
    }
    .label { font-size: 100%; font-weight: normal;}
  }

  .profile-company {
    min-height: 48px;
    background: white;
    opacity: 0.87;
    border-radius: 5px;
    color: #777;
    min-width: 220px;
    .media-body { padding-top: 8px; }
    .cancel-name {
      float: right;
      position: relative;
      top: -24px;
      cursor: pointer;
    }
  }

  img.media-object {
    border-radius: $border-radius-base;
  }

  img.company-logo-small {
    height: 32px;
    margin: 8px;
  }
}