.page-tasks {

    // essential
    .task-list {

        // when init
        .view {
          display: block;
        }

        .edit {
          display: none;
        }

        // when editing
        li.editing {

          .view {
            display: none;
          }

          .edit {
            display: block;
          }
        }

        .task-created-date, .task-due-date {
          position: relative;
          top: 10px;
          z-index: 9;
          width: 200px;
          margin: 0 auto;
          font-weight: 700;
          color: #999;
          background: #fff;
          text-align: center;
          border: solid 1px rgba(0, 92, 148, 0.2);
          border-radius: 5px;
          padding: 2px;
        }

        .task-due-date {
          color: #fff;
          background-color: #428BCA;
        }
        .task-due-date.primary { background-color: $brand-primary; border: none; }
        .task-due-date.success { background-color: $brand-success; border: none; }
        .task-due-date.info { background-color: $brand-info; border: none; }
        .task-due-date.warning { background-color: $brand-warning; border: none; }
        .task-due-date.danger { background-color: $brand-danger; border: none; }
      }


    // add-on style

    .add-task {
      position: relative;

      input {
        height: 44px;
        padding: 6px 12px 6px 40px;
      }

      textarea {
        padding-top: 48px;
      }

      a.submit-button {
        position: absolute;
        top: 12px;
        left: 12px;
        color: $gray-light;
      }

      ul.due-date {
        position: absolute;
        top: 2px;
        right: 0px;
      }
      ul.due-date a.dropdown-toggle {
        z-index: 9;
        background-color: transparent;
      }
      .due-date-label {
        position: absolute;
        top: 28px;
        right: 1em;
        color: #999;
      }
    }

    label {
      font-weight: normal;
    }

    // filters
    .filters {
      margin: 15px 0;
    }
    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:hover,
    .nav-tabs>li.active>a:focus {
      background-color: $main_container_bg;
    }

    .task-list {
        // when init
        .view {
          position: relative;
          margin-bottom: 10px;
          padding: 0 12px 0 40px;
          border-radius: $border-radius-base;
          background-color: $reverse;
          box-shadow: 0 0 1px rgba(0, 92, 148, 0.42);
          &:hover {
            .fa.edit-action {
              display: block;
            }
            label {
              margin-top: 30px;
            }
          }

          input[type="checkbox"] {
            position: absolute;
            top: 11px;
            left: 16px;
          }

          label {
            line-height: 20px;
            margin: 0;
            width: 100%;
            padding: 12px 0 12px;
            @include transition(all .15s ease-in-out);
          }

          .fa.edit-action {
            display: none;
            position: absolute;
            top: 14px;
            color: $gray-light;
            @include transition(all .2s ease-in-out);
            &:hover {
              cursor: pointer;
              color: $gray-dark;
              @include transform(scale(1.3));
            }
          }
          .fa-pencil  {
            right: 40px;
          }
          .fa-times  {
            right: 16px;
          }
        }

        .completed .view {
          label {
            color: $gray-light;
            text-decoration: line-through;
          }
        }

        // when editing
        input.edit {
          margin-bottom: 10px;
          height: 44px;
          padding: 6px 12px 6px 40px;
        }
      }

      .task-footer {
        margin: 15px 0;
        border-top: 4px double darken($gray-lighter, 5%);
        padding: 12px;

        .list-inline>li {
          float: left;
          width: 30%;
          &.first-item {
            width: 40%;
          }
        }

        .clear-completed {
          color: $gray-light;
          border-radius: $border-radius-base;
          @include transition(color, .2s ease-in-out);
          &:hover {
            cursor: pointer;
            color: $text-color;
          }
        }
      }

      .tips {
        h3 {
          margin-top: 0;
        }
      }
    }