.user-table {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;

  .row-name { width: 40%; }
  .row-segment { width: 20%; }
  .row-visits { width: 20%; }
  .row-latest { width: 20%; }
  td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}

.users-report .add-user {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
  .submit { margin-top: -5px; }
  .submit:disabled { background-color: #ccc; }
}
.users-report .add-user.ng-hide {
  opacity:0;
}

.add-user-submit:disabled { background-color: #ccc; }