.btn {
  -webkit-transition: background 0.2s ease;
  -moz-transition: background 0.2s ease;
  -o-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

.btn-inverted {
  background-color: #333;
  border: 2px solid #ddd;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btn-inverted:hover {
  border-color: white;
  background-color: #999;
}

.pointer { cursor: pointer;}

.hover-spin:hover {
  -webkit-animation: rotate 1s forwards;
  animation: rotate 1s forwards;
}
@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}