<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h3 style="color:#999999; text-align: center;"><%= @site_name  %></h3>
  <p>
    <%= simple_format @message['body'] %>
  </p>
  <p>
    Cheers,
  </p>
  <p>
    <%= @message['from_name'] %>
  </p>
</body>
</html>